<a href="#" class="post">
    <div class="post-img">
        <!-- <span class="post-img-blur" style="background-image: url({{thumbnail}})"></span> -->
        <span class="post-img-real" style="background-image: url({{thumbnail}})"></span>
    </div>
    <h3>{{heading}}</h3>
    <div class="post-meta bar flex">
        <span class="post-meta-data">{{category}} • {{date}}</span>
        <div class="bar flex">
            <span class="post-meta-data flex">
                <i class="icon thumb_up_alt"></i>
                <span class="data-likes">{{likes}}</span>
            </span>
            <span class="post-meta-data flex">
                <i class="icon remove_red_eyevisibility"></i>
                <span class="data-views">{{views}}</span>
            </span>
        </div>
    </div>
    <div class="actions bar flex action-bar">
        <i action="whatsapp" class="icon whatsapp"></i>
        <i action="facebook" class="icon facebook"></i>
        <i action="twitter" class="icon twitter"></i>
        <i action="gmail" class="icon gmail"></i>
    </div>
</a>